/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, sans-serif);
  color: var(--text-color_main, #F1B2CE);
  position: relative;
  background-image: var(--bg-image);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto 768px;
  background-attachment: fixed;
}

.header {
  padding: 0 20px;
  position: relative;
}

@media (width < 768px) and (width >= 375px) {
  .header {
    padding: 0 10px;
    block-size: 668px;
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-block-end:  1px solid var(--accent-color-decor, #FF0070);
  border-inline-start: 1px solid var(--accent-color-decor, #FF0070);
  width: 25px;
  height: 25px;
  bottom: 20px;
  left: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::before {
    bottom: 10px;
    left: 10px;
  }
}

.header__decor {
  position: absolute;
  top: 21px;
  right: 48px;
  font-family: var(--main-font, sans-serif);
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: var(--accent-color, #FF0070);
}

@media (width < 768px) and (width >= 375px) {
  .header__decor {
    top: 10px;
    right: 38px;
  }
}

.header__decor::before {
  content: '';
  position: absolute;
  background-color: var(--accent-color, #FF0070);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  box-shadow: 0px 0px 6px 3px var(--accent-color, #FF0070);
  top: 28%;
  right: -20px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-block-start:  1px solid var(--accent-color-decor, #FF0070);
  border-inline-end: 1px solid var(--accent-color-decor, #FF0070);
  width: 25px;
  height: 25px;
  right: 20px;
  top: 19px;
}

@media (width < 768px) and (width >= 375px) {
  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }
}

.header__theme-menu {
  padding-block-start: 20px;
}

@media (width < 1024px) and (width >= 768px) {
  .header__theme-menu {
    padding-block-start: 190px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__theme-menu {
    padding-block-start: 75px;
  }
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

@media (width < 1024px) {
  .header__theme-menu-list {
    flex-direction: column;
    align-items: flex-end;
  }
}

@media (max-width: 768px) {
  .header__theme-menu-list {
    gap: 11px;
  }
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color, #FF0070);
  font-size: 18px;
  font-weight: 400;
  padding: 1px 12px;
  cursor: pointer;
  text-transform: lowercase;
  border: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
  outline-offset: 1px;
}

.header__theme-menu-button:focus-visible {
  outline: none;
  border-block-end: 1px solid var(--accent-color, #FF0070);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__title-container {
  padding: 292px 0 134px 0;
  display: flex;
  flex-direction: column;
  gap: 130px;
}

@media (width < 1024px) and (width >= 768px) {
  .header__title-container {
    padding: 180px 0 183px;
    gap: 164px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .header__title-container {
    padding-block-start: 70px;
    gap: 57px;
  }
}

.header__title {
  font-family: var(--main-font, sans-serif);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-transform: lowercase;
  line-height: 95.7px;
  color: var(--header-color);
  text-shadow: 4px 4px 0 var(--accent-color, #FF0070);
  margin-inline-start: -2%;
}

@media (width < 768px) and (width >= 375px) {
  .header__title {
    margin-inline-start: 0;
    line-height: 78.5%;
    letter-spacing: -2.7px;
  }
}

.header__description {
  display: flex;
  justify-content: flex-end;
}

.header__description_text {
  font-family: var(--main-font, sans-serif);
  font-size: 18px;
  font-weight: 700;
  color: var(--text-color_dark, #000028);
  max-width: 50%;

}

@media (width < 425px) {
  .header__description_text {
    max-width: 100%;
  }
}

.title-decor {
  background-color: var(--accent-color);
}

.main {
  padding: 0 20px;
  margin: 60px 0;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

@media (width < 768px) and (width >= 375px) {
  .main {
    padding: 0 10px;
    margin: 40px 0;
    gap: 50px;
  }
}

.section__why {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .section__why {
    flex-direction: column;
  }
}

.section__title {
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-title-p, #FF0070);
  line-height: 23.4px;
  max-width: 32%;
}

@media (width < 768px) and (width >= 375px) {
  .section__title {
    max-width: 100%;
  }
}

.section__why-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 66%;
}

@media (width < 1024px) and (width >= 768px) {
  .section__why-list {
    max-width: 65%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__why-list {
    max-width: 100%;
  }
}

.section__item-title {
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-color_dark, #000028);
}

.section__item-text {
  padding-block-start: 10px;
  font-size: 18px;
  font-family: var(--main-font);
  line-height: 23.4px;
}

.section__main-link {
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
  text-decoration: none;
}

.section__main-link:hover {
  border-block-end: 1px solid var(--text-color_main, #F1B2CE);
}

.section__main-link:focus-visible {
  outline: 1px solid var(--text-color_main, #F1B2CE);
}

.section__what-list {
  margin-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (width < 1024px) {
  .section__what-list {
    display: flex;
    flex-direction: column;
  }
}

.section__how {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

@media (width < 768px) and (width >= 375px) {
  .section__how {
    flex-direction: column;
  }
}

.section__how-item-title {
  font-family: var(--main-font);
  font-size: 18px;
  color: var(--text-color_dark, #000028);
  font-weight: 400;
}

.section__how-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 66%;
}

@media (width < 1024px) and (width >= 768px) {
  .section__how-list {
    max-width: 65%;
  }
}

@media (width < 768px) and (width >= 375px) {
  .section__how-list {
    max-width: 100%;
  }
}

.section__pic-image {
  max-width: 100%;
  object-fit: cover;
}

.section__pic_grid {
  padding-block-start: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  aspect-ratio: 1/1;
}

.section__pic-image:nth-child(1) {
  grid-column: 1/3;
}

.section__pic-image:nth-child(2) {
  grid-row: 1/3;
  grid-column: 3/3;
  height: 100%;
}

.section__pic-image:nth-child(3) {
  grid-row: 2/4;
  height: 100%;
}

.section__pic-image:nth-child(5) {
  grid-column: 2/4;
}

@media (width < 768px) and (width >= 375px) {
  .section__pic_grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-block-start: 10px;
    aspect-ratio: auto;
  }
}

.footer {
  block-size: 768px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (width < 1024px) and (width >= 768px) {
  .footer {
    block-size: 1024px;
  }
}

@media (width < 768px) and (width >= 375px) {
  .footer {
    block-size: 668px;
  }
}

.footer__title {
  font-family: var(--main-font);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  text-transform: lowercase;
  line-height: 95.7px;
  color: var(--header-color, #DB00FF);
  text-shadow: 2px 2px 0 var(--accent-color, #FF0070);
}
